// utils styles
@import './utils/vars';
@import './utils/reset';
@import './utils/visually-hidden';
// components styles
@import './components/page-header';
@import './components/logo';
@import './components/hero';
@import './components/hero-btn';
@import './components/features';
@import './components/about';
@import './components/team';
@import './components/socials';
@import './components/employee';
@import './components/clients';
@import './components/footer';
@import './components/footer-contact';
@import './components/footer-socials';
@import './components/footer-form';
@import './components/footer-btn';
@import './components/portfolio';
@import './components/portfolio-btn';
@import './components/modal';
@import './components/modal-btn';
