.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.footer-address {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        text-align: center;
        // margin-right: 160px;
    }
    
    @media screen and (min-width: 1200px) {
        text-align: start;
        margin-bottom: 0px;
        margin-right: 50px;
    }
}

.address-container {
    margin-top: 20px;
}

.footer-section {
    background-color: var(--second-bg-cl);
}

.footer-section .link:hover,
.footer-section .link:focus {
    color: var(--accent-txt-cl);
}