.footer-form-container {
    margin-left: auto;
}

.footer-mailing-container {
    display: flex;
    gap: 12px;
}

.footer-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--light-txt-cl);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-form-input {
    width: 360px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-icon {
    fill: var(--light-txt-cl)
}