.contact-list:not(:last-child) {
    margin-bottom: 9px;
}

.address-item {
    font-style: normal;
    color: var(--light-txt-cl);
    transition: color var(--anim-slow);
}

.address-link {
    font-style: normal;
    color: var(--light-txt-cl-60);
    transition: color var(--anim-slow);
}