.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../..//images/hero-background_sm-@1x.jpg);
    background-color: var(--second-bg-cl);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../..//images/hero-background_sm-@2x.jpg);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__title {
        width: 360px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--light-txt-cl);

        @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
            line-height: calc(60 / 44);
        }
    }
}
