.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--anim-slow);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--anim-slow);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--main-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (max-width: 479px) {
         width: 100%;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 530px;
    }
}

.feedback-form-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    color: var(--main-txt-cl);
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: calc(23 / 20);
    }
}

.feedback-form-group {
    margin-bottom: 20px;
}

.feedback-form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.feedback-form-label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--second-txt-cl);
    margin-bottom: 4px;
}

.feedback-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--anim-slow);

    &:focus,
    &:hover {
        border-color: var(--accent-txt-cl);
    }

    &:focus+.feedback-form-icon {
        fill: var(--accent-txt-cl);
    }
    
    &:hover+.feedback-form-icon {
        fill: var(--accent-txt-cl);
    }
}

.feedback-form-icon {
    position: absolute;
    top: 30px;
    left: 15px;
    transition: fill var(--anim-slow);
}


.feedback-form-agreement {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.feedback-form-description {
    font-size: 12px;
    line-height: calc(14 / 12);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.feedback-user-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--anim-slow);
    resize: none;

    &:focus,
    &:hover {
        border-color: var(--accent-txt-cl);
    }
    
    &::placeholder {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

}

.feedback-form-checkbox:checked+.feedback-checkbox-icon .icon-checked {
    opacity: 1;
}

.icon-checked {
    opacity: 0;
    transition: opacity var(--anim-slow);
}

.feedback-form-checkbox:checked+.feedback-checkbox-icon .icon-unchecked {
    opacity: 0;
}

.icon-unchecked {
    fill: var(--main-txt-cl);
    opacity: 1;
    transition: opacity var(--anim-slow);
}

.feedback-form-description {
    color: var(--second-txt-cl);
    user-select: none;
}

.feedback-form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.feedback-checkbox-icon {
    // position: absolute;
    position: fixed;
    top: 5px;
    left: 10px;
}