h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-section {
    padding-bottom: 94px;
}
